@CHARSET "UTF-8";

#tofChat-Title {
	width:100%;
	background-color:#355721;
	color:white;
	position:relative;
	padding:0px;
	margin-top:0px;
	top: -1em;
	max-height:57px;
	display: flex;
}

#tofChat-Title > h1 {
	position:relative;
	top: 1em;
	font-size:80%;
	width:80%;
	vertical-align:bottom
	max-height:57px;
	display:block;
}

#tofChat-go-out {
	padding: 3px;
	margin-left:2px;
}

#tofChat-go-out > p {
	text-align:center;
	vertical-align:bottom;
	padding:2px;
	border:2px #B0FFB0 outset;
	border-radius: 1ex;
	background-color: green;
	color:white;
 cursor: pointer;
 display:block;
 min-width:59px;
 hegith:20px;
}

#tofChat-go-out:hover {
	filter:brightness(120%); 
}

#tofChat-go-out:active {
	border-style: inset;
	filter:brightness(90%); 
}


.tofChat-button {
	padding: 1ex;
}

.tofChat-button-heavy {
	position: relative;
	padding: 1ex;
	text-decoration: none;
	border: 1px solid #573521;
	background: #673f07;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 1px #573521;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c3782a),
		to(#673f07));
	background-image: -webkit-linear-gradient(#c3782a, #673f07);
	background-image: -moz-linear-gradient(#c3782a, #673f07);
	background-image: -ms-linear-gradient(#c3782a, #673f07);
	background-image: -o-linear-gradient(#c3782a, #673f07);
	background-image: linear-gradient(#c3782a, #673f07);
}

#tofChat-init {
	display: none;
}

.ui-header {
	
}

#tofChat-chat {
	padding-top: 42px;
	position:relative;
}

#tofChat-inputArea {
	position:fixed;
	background-color:white;
	z-index:2;
	padding-top:5px;
	top:81px;
	left:0px;
}

#tofChat-input-sendCallRoll,
#tofChat-input-sendQuestion,
#tofChat-input-send
 {
	z-index:3;
}

#tofChat-inputArea-showButtonBase {
	display:none;
	position:relative;
	border-bottom:3px inset black;
	text-align:center;
	top:-34px;
	vertical-align:bottom;
}

#tofChat-inputArea-showButtonBase-button,
#tofChat-inputArea-hideButtonBase-button {
	position:relative;
	display:inline-block;
	border-bottom:3px solid black;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	height:66px;
	width:66px;
	top:33px; 
	font-size:300%; 
	background-color:white;
}

#tofChat-inputArea-hideButtonBase {
	position:relative;
	border-bottom:3px inset black;
	text-align:center;
	top:-41px;
	vertical-align:bottom;
}

#tofChat-map, #tofChat-table, #tofChat-memo {
	display: none;
	padding-top: 42px;
}

#tofChat-map-cards {
	display:none;
}

.tofChat-map-cards-display-card {
	max-width:144px;
	display:inline-block;
	border:solid 2px black;
	border-radius: 5px;
	padding:2px;
	vertical-align:top;
	margin:2px;
}
.trump {
	font-size:200%;
}

.trump_red {
	color: red;
}

#tofChat-jump>p {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	background-color: #D0FFD0;
	opacity: 0.8;
	font-size: 300%;
	color: #90AA90;
	border-radius: 20px;
    cursor: pointer;
}

#tofChat-jump>p:hover {
    filter:brightness(110%); 
}

#tofChat-jump>p:active {
    filter:brightness(90%); 
}

#tofChat-chat-submenu {
	display:inline-block;
	background-color: #D0FFD0;
	opacity: 0.9;
	font-size: 100%;
	color: #90AA90;
	border-radius: 3px;
	vertical-align:middle;
	position:absolute;
	top:26px;
	right:2px;
	z-index:4;
	padding:0px;
}

#tofChat-chat-submenu-button {
	padding:2px;
	display:block;
	height:18px;
	margin:5px;
}

#tofChat-chat-submenu-list {
	padding:6px;
	display:none;
	color:black;
}

#tofChat-chat-submenu-list>hr {
	margin:3px;
	height:1px;
	background-color: gray;
}

span.tofChat-chat-submenu-list-item {
	border: #50FF50 2px solid;
	background-color: #C0FFC0;
	border-radius: 5px;
	margin-top:2px;
	padding:4px;
	display:block;
}

.tofChat-chat-submenu-list-item>a {
	text-decoration :none;
	color:black;
}

.tofChat-chat-submenu-list-item>a:visited {
	text-decoration :none;
	color:black;
}

#tofChat-input {
	padding: 2px;
}

.tofChat-input-half {
	display: inline-block;
	width: 48%;
}

.tofChat-input-half-short {
	display: inline-block;
	width: 35%;
	padding:5px;
}

.tofChat-input-long {
	display: inline-block;
	width: 65%;
	margin-left: 0px;
}

.tofChat-input-short {
	display: inline-block;
	width: 32%;
	margin-right: 0px;
}

.tofChat-input-longer {
	position:relative;
	display: inline-block;
	width: 85%;
	margin-left: 0px;
}

.tofChat-input-shorter {
	position:relative;
	display: inline-block;
	width: 8%;
	margin-right: 0px;
}

.tofChat-input-half-sidebutton {
	display: inline-block;
	width: 4%;
	font-size:15%;
	line-height:1em;
}

#tofChat-chat-input-input-name {
	position:relative;
}

.tofChat-chat-input-input-name-show {
	border:2px green outset;
	height:50px;
	vertical-align:top;
	text-align:center;
	border-radius: 1ex;
	background-color: #B0FFB0;
	color:black;
 cursor: pointer;
 display: none;
}

.tofChat-chat-input-input-name-hide {
	border:2px green outset;
	height:50px;
	vertical-align:top;
	text-align:center;
	border-radius: 1ex;
	background-color: #B0FFB0;
	color:black;
 cursor: pointer;
}

#tofChat-chat-input-input-name-hide-right {
	position:absolute;
	right:0px;
}

#tofChat-chat-input-input-msg {
	display:inline-block;
}

#tofChat-chat-input-history {
	background-color:#A0FFA0;
	border-radius: 12px;
	border-bottom: solid 1px black;
	display:none;
}

.tofChat-chat-input-history-tab {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	background-color:#F0FFF0;
	border-top-left-radius: 12px;
	width: 14%;
	top:37px;
	border: solid 1px black;
	word-break:keep-all;
	overflow:hidden;
	white-space:nowrap;
}

#tofChat-chat-input-chatparette {
	background-color:#A0A0FF;
	border-radius: 12px;
	border-bottom: solid 1px black;
	display:none;
}

.tofChat-chat-input-chatparette-tab {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	background-color:#F0F0FF;
	border-top-left-radius: 12px;
	width: 14%;
	top:37px;
	border: solid 1px black;
	word-break:keep-all;
	overflow:hidden;
	white-space:nowrap;
}

#tofChat-chat-input-chatparette-editmode {
	padding:4px;
}

#tofChat-chat-input-chatparette-editmode {
	display:none;
}

.tofChat-chat-log-log-name-pic {
	height:60px;
	width:60px;
	display:inline-block;
	background-size:contain;
	background-repeat:no-repeat;
	position:relative;
	top:3px;
}

.tofChat-chat-log-log-name-pic-inner {
	color:black;
	font-size:40%;
	position:absolute;
	bottom:0;
	right:0;

}

#tofChat-chat-log-cutin {
	display:none;
 position:fixed;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background:black;
 opacity: 0.60;
 margin: 0;
 padding: 0;
 z-index:1000;
}

#tofChat-chat-log-cutin-pic {
	display:none;
 position:fixed;
 left: 50%;
 top:0;
 margin: 0;
 padding: 0;
 z-index:1001;
}

.tofChat-chat-log-cutin-pic {
	margin-left:1em;
	text-align:center;
	border:1px #A0AAA0 outset;
	border-radius: 1ex;
	padding:2px;
	background-color: #E0FFE0;
	color:gray;
}

#tofChat-chat-input-secret {
	padding:5px;
	background-color:#FFA0A0;
	border-radius: 12px;
	border-bottom: solid 1px black;
	display:none;
}

#tofChat-chat-input-shared {
	padding-top:10px;
}

.tof-chat-radio-base>span {
	border: double, 4px, black;
	display: inline-block;
}

#tofChat-init-advanced-toggle {
	padding: 10px;
}

#tofChat-init-advanced {
	display: none;
}

#tofChat-tabs {
	top: 42px;
	left: 0px;
	background-color: white;
	position: fixed;
	width: 100%;
	z-index:4;
}

.tofChat-tab {
	text-align:center;
	border-color:green;
	border-style: outset;
	border-width: 2px 1px;
	border-radius: 1ex;
	background-color: #B0FFB0;
	color:black;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 23%;
	mergin-left:3px;
 cursor: pointer;
}

.tofChat-tab:hover {
    filter:brightness(120%); 
}

.tofChat-tab:active {
 color: white;
	background-color: #305030;
	border-style: inset;
 filter:brightness(90%); 
}

.tofChat-tab[class~="active"] {
	border-style: inset;
 filter:brightness(100%);
 cursor: default;
}

#tofChat-map-display {
	oveflow: scroll;
	width: 100%;
	margin:auto;
	position: relative;
}

#tofChat-map-lastupdate {
	text-align:right;
}

#tofChat-map-display-map {
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
}

.tofChat-map-display-line {
	line-height: 0px;
}

.tofChat-map-display-box {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.tofChat-map-display-box-lined {
	width: 28px;
	height: 28px;
	border: solid 1px black;
}

.tofChat-map-display-char {
	background-size: 100% 100%;
	position:absolute;
}

.tofChat-map-display-card {
	background-size:contain;
	background-repeat:no-repeat;
	border:1px outset black;
	border-radius:2px;
	opacity: 0.8;
	background-color:white;
}

.tofChat-map-display-char-pop {
	border:1px yellow solid;
	background-color:yellow;
	opacity: 0.5;
}

.tofChat-map-display-tile {
	background-size: 100% 100%;
}

.tofChat-map-display-chit {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	border: solid 3px skyblue;
}

#tofChat-map-status {
	height:30px;
	border-top-left-radius:15px;
	border-bottom-right-radius:15px;
	background-color:#A0FFA0;
	font-size:140%;
	text-indent:15px;
}

.tofChat-map-display-object-name {
	display:none;
	background-color: white;
	font-size: 60%;
	opacity: 0.7;
	overflow:hidden;
}

.tofChat-map-display-object-name-card {
	font-size: 60%;
	opacity: 0.7;
	overflow:hidden;
}

#tofChat-memo-lastupdate {
	text-align:right;
}

.tofChat-memo-simplememo {
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border: 2px inset gray;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 1em;
}

.tofChat-memo-tabledmemo-tab {
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border: 2px inset gray;
	border-bottom: 1px none gray;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 4px;
}

.tofChat-memo-tabledmemo-tab-tab {
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border: 2px outset gray;
	border-radius: 5px;
	display:inline-block;
	padding: 4px;
	margin-left: 3px;
 cursor: pointer;
 min-width: 2.4em;
 min-height: 1em;
 vertical-align: middle;
 text-align: center;
}

.tofChat-memo-tabledmemo-tab-tab:hover {
 filter:brightness(120%); 
}

.tofChat-memo-tabledmemo-tab-tab:active {
 color: white;
	background-color: #305030;
	border-style: inset;
 filter:brightness(90%); 
}

.tofChat-memo-tabledmemo-tab-tab[class~="active"] {
 border-style: inset;
 filter:brightness(100%);
 cursor: default;
}

.tofChat-memo-tabledmemo-tab-button {
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border: 2px outset gray;
	border-radius: 5px;
	display:inline-block;
	padding: 4px;
	margin-left: 3px;
 vertical-align: middle;
}

.tofChat-memo-tabledmemo-tab-button:hover {
 background-color: #ddd;
 filter:brightness(120%); 
}

.tofChat-memo-tabledmemo-tab-button:active {
	border-style: inset;
 filter:brightness(90%); 
}

.tofChat-memo-tabledmemo-text {
	-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border: 2px inset gray;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 4px;
	margin-bottom: 1em;
}

#tofChat-table-lastupdate {
	text-align:right;
}

#tofChat-table-display>table>tbody>tr>td {
	text-align: right;
}

#tofChat-table-display>table>tbody>tr>td>input {
	width: 40px;
}

.tofChat-table-display-serverImageButton {
	text-align:center;
	vertical-align:bottom;
	padding:2px;
	border:2px #B0FFB0 outset;
	border-radius: 1ex;
	background-color: green;
	color:white;
 cursor: pointer;
 display:block;
 min-width:59px;
 height:20px;
}

.tofChat-table-display-serverImageList {
	display:none;
 position:fixed;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color:black;
 opacity: 0.90;
 margin: 0;
 padding: 0;
 z-index:1000;
 overflow:scroll;
}

.tofChat-table-display-serverImageList-image{
	width:80px;
	height:80px;
	display:inline-block;
	background-size:contain;
	background-repeat:no-repeat;
}

.tofChat-table-display-serverImageList-close {
	text-align:center;
	vertical-align:bottom;
	padding:2px;
	margin:5px;
	border:2px #B0FFB0 outset;
	border-radius: 1ex;
	background-color: green;
	color:white;
 cursor: pointer;
}

.active {
	border:3px green inset;
	background-color: #305030;
	color:white;
}

.vote-button-ready {
	background: -moz-linear-gradient(top,#F0FFF0 0%,#B0FFB0);
 background: -webkit-gradient(linear, left top, left bottom, from(#F0FFF0), to(#B0FFB0));
 background: linear-gradient(top,#F0FFF0 0%,#B0FFB0);
	border:3px green double;
	border-radius: 5px;
	padding:3px;
	color:black;
}

.vote-button-yes {
	background: -moz-linear-gradient(top,#F0F0FF 0%,#B0B0FF);
 background: -webkit-gradient(linear, left top, left bottom, from(#F0F0FF), to(#B0B0FF));
 background: linear-gradient(top,#F0F0FF 0%,#B0B0FF);
	border:3px blue double;
	border-radius: 5px;
	padding:3px;
	color:black;
	margin-left:1ex;
}

.vote-button-no {
	background: -moz-linear-gradient(top,#FFF0F0 0%,#FFB0B0);
 background: -webkit-gradient(linear, left top, left bottom, from(#FFF0F0), to(#FFB0B0));
 background: linear-gradient(top,#FFF0F0 0%,#FFB0B0);
	border:3px red double;
	border-radius: 5px;
	padding:3px;
	color:black;
	margin-left:1ex;
}

.vote-msg {
	border-bottom:solid 1px #AEFFAE;
}

#tofChat-chat-input-shared-dicebot-help {
	position:absolute;
	text-align:center;
	border:3px green outset;
	border-radius: 1ex;
	padding:8px;
	top:-44px;
	background-color: #B0FFB0;
	color:black;
 cursor: help;
}

.tofChat-help {
	text-align:center;
	border:3px green outset;
	border-radius: 1ex;
	padding:2px;
	background-color: #B0FFB0;
	color:black;
 cursor: help;
}

.tofChat-help:hover {
 filter:brightness(120%); 
}

.tofChat-help:active {
	border-style: inset;
    filter:brightness(90%); 
}
